/*
Color Palette

rgb(12, 12, 12)
rgb(24, 24, 24)
rgb(36, 36, 36)
rgb(121, 121, 121)
*/

body {
background-color: rgb(0, 0, 0);
color: rgb(121, 121, 121);
font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
font-size: 11pt;
}

div.container {
border-radius: 8px;
max-width: 75%;
margin: 1%;
padding: 1%;
}

div.container #foremost {
background-color: rgba(36, 36, 36, 0.9);
border-radius: 8px;
margin: 1%;
padding: 1%;
}

h1 {
color: rgb(12, 12, 12);
font-weight: 800;
}